<launch>

 <!--node pkg="rosbag" type="play" name="rosbagplay" args="$(find odom_visualizer)/bag/all.bag"  required="true"/--> 

 <node pkg="odom_visualizer" type="plot_map_fixed.py" name="imu_and_gps_viz" output="screen">
 	<remap from="/odom_topic1" to="/camera/odom"/>
 	<!-- <remap from="/odom_topic2" to="/rtabmap/odom"/> -->
 </node>
</launch>